@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      @apply  bg-bg-primary-color font-Tajawal;
    }
  }

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}